<div class="mt-4">
  <form method="post" action="">
    <div class="form-group">
      <label for="search-input">Key words</label>
      <input type="text" class="form-control" name="fullname">
      <br>
      <div class="form-group">
        <select name="gender" class="form-control" id="gender-input">
          <option value="">-- Chon --</option>
          <option value="Nam">Nam</option>
          <option value="Nu">Nu</option>
        </select>
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>