<div class="mt-4">
  <form method="post" action="">
    <div class="form-group">
      <label for="search-input">Key words</label>
      <input type="text" class="form-control" name="fullname">
      <br>
      <input type="text" class="form-control" name="age" id="">
      <br>
      <input
        type="text"
        name="text"
        class="form-control"
        id="search-input"
        placeholder=""
      />
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>